{mode, max}.
%{mode, {rate, 5}}.

{duration, 120}.

{concurrent, 100}.

{driver, basho_bench_driver_eredis}.

{code_paths, ["deps/eredis/ebin", "deps/eredis_pool/ebin", "deps/poolboy/ebin", "deps/elog/ebin", "deps/edown/ebin", "deps/jiffy/ebin", "deps/udon_client/ebin"]}.

{operations, [{stat_appkey_online, 1}]}.

{key_generator, {uniform_int, 640000000}}.

{value_generator, {fixed_bin, 20}}.
%{value_generator, {fixed_bin, 1}}.
