{sub_dirs, ["rel"]}.

{deps, [
    {riak_core, ".*", {git, "git://github.com/yunbalabs/riak_core.git", "handoff_receive_callback"}},
    {hierdis, ".*", {git, "git://github.com/basho-labs/hierdis.git", "master"}},
    {udon_api, ".*", {git, "https://github.com/yunbalabs/udon_api.git", "feature/without_fsm"}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "master"}},
    {eredis, ".*", {git, "https://github.com/wooga/eredis.git", {branch, "master"}}},
    {sidejob, ".*", {git, "https://github.com/basho/sidejob.git", {branch, "develop"}}},
    {eep, ".*", {git, "https://github.com/virtan/eep.git", {branch, "master"}}}
]}.

{pre_hooks, [{'get-deps', "c_src/build_deps.sh get-deps"},
    {'compile', "c_src/build_deps.sh make"}]}.

{post_hooks, [
{clean, "c_src/build_deps.sh clean"},
{generate, "cp -r priv rel/udon"}
]}.

{clean_files, ["priv/redis"]}.
